header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    width: 700px;
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    padding:5px;
    margin-left: 250px;
    font-family: Impact, Charcoal, sans-serif;
/*    margin-right: 300px; */
}
section {
    width: 700px;
    float:left;
    padding:10px;
    margin-left: 250px;
    /*margin-right: 300px; */
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
img#idPhoto {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table th {
    text-align: left;
    background-color: #eee;
}
#authorName{
    text-shadow: 3px 3px 1px gray;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}